{% extends "base.html" %}

{% block content %}

<div>
    <h1>Entries Index</h1>
    <a href="{{ url_for('routes.add_entry') }}">Add Entry</a>
    <ul>
        {% for entry in entries %}
            <li>
                <span>
                  {{ entry.description }}:
                  ${{ entry.amount }}
                  ({{ entry.entry_type }})
                  {{ entry.date}}
                  <a href="{{ url_for('routes.edit_entry', entry_id=entry.id) }}">Edit</a>
                </span>
            </li>
        {% else %}
            <li>No entries found.</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
