{% extends "base.html" %}

{% block content %}
<div>
  <h2>Add Budget</h2>
  <form method="POST" action="{{ url_for('budgets.add_budget') }}">
    <div>
      <label for="category_name">Category Name:</label>
      <input type="text" id="category_name" name="category_name" required>
    </div>
    <div>
      <label for="budget_amount">Budget Amount:</label>
      <input type="number" step="0.01" id="budget_amount" name="budget_amount" required>
    </div>
    <div>
      <label for="month">Month:</label>
      <input type="month" id="month" name="month" value="month">
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
{% endblock %}
