/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #007bbb;
    margin: 0px;
    padding: 0px;
}

h1, h2 {
    color: #333;
    font-size: 24px;
}

h3 {
  margin: 0;
}

div {
    padding: 10px;
    margin: 10px auto;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="month"] {
    padding: 5px;
    margin-right: 10px;
}

button {
    padding: 5px 10px;
    background-color: #007bbb;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    /* padding: 10px 0; */
}

/* home */

.budget-summary {
    justify-content: space-between;
}

.budget-summary > div {
  flex: 1;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.expenses-summary {
  display: flex;
  height: 20vh;
  /* align-items: center; */
}

.expenses {
  flex: 1;
  align-self: center;
}

.expenses-chart {
  flex: 3;
}



/* Tables */

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bbb;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* Header styles */

header {
    background-color: #007bbb;
    color: white;
    margin-top: 10px;
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bbb;
}

.header-content h1 {
    margin: 0;
    font-size: 24px;
    color: white;
}

.header-content a {
    color: white;
    text-decoration: none;
    /* padding: .5em; */
    padding-top: .5em;
    padding-bottom: .5em;
}

/* Navigation styles */

nav {
    background-color: #007bbb;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 8px;
}

nav li a:hover:not(.active) {
    background-color: #0056b3;
}

nav .active {
    background-color: #007bbb;
}
