/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #333;
}

div {
    padding: 10px;
    margin: 10px auto;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="month"] {
    padding: 5px;
    margin-right: 10px;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

li:last-child {
    border-bottom: none;
}

/* home */

.budget-summary {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.budget-summary > div {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

/* .expenses {
    border-right: 1px solid #ddd;
} */

.income {
    padding-left: 10px;
}


/* Tables */

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* nav bar */

nav li {
  display: inline;
}
