{% extends "base.html" %}

{% block content %}
<div>
  <h2>Add transaction</h2>
  <form method="POST" action="{{ url_for('transactions.add_transaction') }}">
    <div>
      <label for="description">Description:</label>
      <input type="text" id="description" name="description">
    </div>
    <div>
      <label for="amount">Amount:</label>
      <input type="text" id="amount" name="amount">
    </div>
    <div>
      <label for="date">Date:</label>
      <input type="date" id="date" name="date">
    </div>
    <div>
      <label for="transaction_type">Type:</label>
      <select id="transaction_type" name="transaction_type">
        <option value="expense">Expense</option>
        <option value="income">Income</option>
      </select>
    </div>
    <div>
      <label for="category">Category:</label>
      <select id="category" name="category">
        {% for category in categories %}
          <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
{% endblock %}
