{% extends "base.html" %}

{% block content %}
<div>
  <h2>Edit Transaction</h2>
  <form method="POST" action="{{ url_for('transactions.edit_transaction', transaction_id=transaction.id) }}">
    <div>
      <label for="description">Description:</label>
      <input type="text" id="description" name="description" value="{{ transaction.description }}">
    </div>
    <div>
      <label for="amount">Amount:</label>
      <input type="text" id="amount" name="amount" value="{{ transaction.amount }}">
    </div>
    <div>
      <label for="date">Date:</label>
      <input type="date" id="date" name="date" value="{{ transaction.date.strftime('%Y-%m-%d') }}">
    </div>
    <div>
      <label for="transaction_type">Type:</label>
      <select id="transaction_type" name="transaction_type">
        <option value="expense" {% if transaction.transaction_type == 'expense' %}selected{% endif %}>Expense</option>
        <option value="income" {% if transaction.transaction_type == 'income' %}selected{% endif %}>Income</option>
      </select>
    </div>
    <div>
      <label for="category">Category:</label>
      <select id="category" name="category">
        {% for category in categories %}
          <option value="{{ category.id }}" {% if category.id == transaction.category_id %}selected{% endif %}>{{ category.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
  <div>
    <form action="{{ url_for('transactions.delete_transaction', transaction_id=transaction.id) }}" method="POST">
      <button type="submit">Delete</button>
    </form>
  </div>
</div>
{% endblock %}
