{% extends "base.html" %}

{% block content %}

<div>
    <h1>Transactions for {{ month }}</h1>

    <form method="GET" action="{{ url_for('transactions.index_transactions') }}">
        <label for="month">Select Month:</label>
        <input type="month" id="month" name="month" value="{{ month }}">
        <button type="submit">View</button>
    </form>

    <a href="{{ url_for('transactions.add_transaction') }}">Add transaction</a>
    <ul>
        {% for transaction in transactions %}
            <li>
                <span>
                  {{ transaction.description }}:
                  ${{ transaction.amount }}
                  {{ transaction.category.name }}
                  ({{ transaction.transaction_type }})
                  {{ transaction.date}}
                  <a href="{{ url_for('transactions.edit_transaction', transaction_id=transaction.id) }}">Edit</a>
                </span>
            </li>
        {% else %}
            <li>No transactions found.</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
