{% extends "base.html" %}

{% block content %}
<div>
  <h1>transaction Details</h1>
  <div>
    <label>Description:</label>
    <span>{{ transaction.description }}</span>
  </div>
  <div>
    <label>Amount:</label>
    <span>{{ transaction.amount }}</span>
  </div>
  <div>
    <label>Type:</label>
    <span>{{ transaction.transaction_type }}</span>
  </div>
  <div>
    <label>Month:</label>
    <span>{{ transaction.month }}</span>
  </div>
  <div>
    <a href="{{ url_for('routes.edit_transaction', transaction_id=transaction.id) }}">Edit</a>
  </div>
  <div>
    <a href="{{ url_for('routes.index_transactions') }}">Back to transactions</a>
  </div>
</div>
{% endblock %}
