<header>
    <div class="header-content">
        <h1><a href="{{ url_for('home.home') }}">Budget Tracker</a></h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('home.home') }}">Home</a></li>
                <li><a href="{{ url_for('transactions.index_transactions') }}">Transactions</a></li>
                <li><a href="{{ url_for('categories.index_categories') }}">Categories</a></li>
                <li><a href="{{ url_for('budgets.index_budgets') }}">Budgets</a></li>
            </ul>
        </nav>
    </div>
</header>
