{% extends "base.html" %}

{% block content %}
<div>
    <h1>Monthly Budget for {{ month }}</h1>

    <form method="GET" action="{{ url_for('home.home') }}">
        <label for="month">Select Month:</label>
        <input type="month" id="month" name="month" value="{{ month }}">
        <button type="submit">View</button>
    </form>


    <div class="budget-summary">
        <div class="expenses">
            <h2>Expenses</h2>
            <p>Actual: {{ total_spent }}</p>
            <p>Planned: {{ total_planned }}</p>
        </div>

        <div class="income">
            <h2>Income</h2>
            <p>Planned: ?</p>
            <p>Actual: {{ total_income }}</p>
        </div>
    </div>


    <h2>Budgets</h2>
    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th>Planned</th>
                <th>Actual</th>
                <th>Difference</th>
            </tr>
        </thead>
        <tbody>
            {% for budget in budget_info %}
                <tr>
                    <td>{{ budget.category.name }}</td>
                    <td>{{ budget.amount }}</td>
                    <td>{{ budget.budget_total }}</td>
                    <td>{{ budget.budget_difference }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    <!-- <h2>Transactions</h2>
    <ul>
        {% for transaction in transactions %}
            <li>{{ transaction.date.strftime('%Y-%m-%d') }} - {{ transaction.description }}: ${{ transaction.amount }} ({{ transaction.category.name }})</li>
        {% endfor %}
    </ul> -->

</div>
{% endblock %}
