{% extends "base.html" %}

{% block content %}
<div>
    <h1>Monthly Budget for {{ month }}</h1>

    <form method="GET" action="{{ url_for('home.home') }}">
        <label for="month">Select Month:</label>
        <input type="month" id="month" name="month" value="{{ month }}">
        <button type="submit">View</button>
    </form>


    <h2>Expenses</h2>
    <p>Actual: {{ total_spent }}</p>
    <p>Planned: </p>


    <h2>Budgets</h2>
    <ul>
        {% for budget in budget_info %}
            <li>{{ budget.category.name }}: {{ budget.amount }} (Remaining: ${{ budget.remaining_budget }})</li>
        {% endfor %}
    </ul>

    <h2>Transactions</h2>
    <ul>
        {% for transaction in transactions %}
            <li>{{ transaction.date.strftime('%Y-%m-%d') }} - {{ transaction.description }}: ${{ transaction.amount }} ({{ transaction.category.name }})</li>
        {% endfor %}
    </ul>

</div>
{% endblock %}
