{% extends "base.html" %}

{% block content %}
<div>
    <h1>Monthly Budget for {{ month }}</h1>

    <form method="GET" action="{{ url_for('home.home') }}">
        <label for="month">Select Month:</label>
        <input type="month" id="month" name="month" value="{{ month }}">
        <button type="submit">View</button>
    </form>


    <div class="budget-summary">
        <div class="expenses-summary">
            <div class="expenses">
                <h3>Expenses</h3>
                <p>Planned: {{ total_planned_expenses }}</p>
                <p>Actual: {{ total_expenses }}</p>
            </div>
            <div class="expenses-chart">
                <canvas id="expensesChart"></canvas>
            </div>
        </div>
        <div class="income">
            <h3>Income</h3>
            <p>Planned: ?</p>
            <p>Actual: {{ total_income }}</p>
        </div>
    </div>


    <h2>Budgets</h2>
    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th>Planned</th>
                <th>Actual</th>
                <th>Difference</th>
            </tr>
        </thead>
        <tbody>
            {% for budget in budget_info %}
                <tr>
                    <td>{{ budget.category.name }}</td>
                    <td>{{ budget.amount }}</td>
                    <td>{{ budget.budget_total }}</td>
                    <td>{{ budget.budget_difference }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Transactions</h2>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Category</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.description }}</td>
                    <td>{{ transaction.category.name }}</td>
                    <td>{{ transaction.amount }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
  const ctx = document.getElementById('expensesChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Planned Expenses', 'Actual Expenses'],
      datasets: [{
        label: 'Expenses',
        data: [{{ total_planned_expenses }}, {{ total_expenses}}],
        borderWidth: 1
      }]
    },
    options: {
      indexAxis: 'y',
      scales: {
        y: {
          beginAtZero: true
        }
      },
      plugins: {
        legend: {
            display: false
        }
      },
      maintainAspectRatio: false
    }
  });
</script>

{% endblock %}
